@import 'main';

.theme__toggle{
    grid-column: 1/13;
    justify-self: end;
    svg{
        cursor: pointer;
        padding: 20px;
        width: 30px;
        height: auto;
        transition: all .5s ease-in-out;

        &:hover{
            transform: rotateZ(20deg);
        }
    }
}

main.profile{
    grid-column: 1/13;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;


    .profile__image{
        img{
            width: 150px;
            height: auto;
            border-radius: 50%;
        }
    }

    .profile__name{
        margin: 20px 0px;
        p{
            font-family:$main-font;
            color: var(--main-text-color);
            font-weight: 500;
            font-size: 35px;
            @media screen and (max-width: 700px){
                font-size: 28px;
            }
        }
    }

    .profile__description{
        margin: 20px 0px;
        p{
            font-family:$main-font;
            color: var(--main-gray-color);
            font-weight: 400;
            font-size: 25px;

            margin: 10px 0px;

            @media screen and (max-width: 700px){
                font-size: 20px;
                span.break_line{
                    display: block;
                }
            }
        }
    }

    .profile__socials{
        margin: 20px 0px;
        a{
            padding: 20px;
            display: inline-block;
            width: 25px;
            img{
                width: 100%;
            }
        }
    }
}